audiosegment
ffmpeg-python
flask
gunicorn
librosa
numpy
pandas
pdfplumber
pylab-sdk
python_speech_features
pyyaml
redis
six
simpletransformers
scipy
spacy
torch
git+https://github.com/lecture2go/whisper
git+https://github.com/speechcatcher-asr/speechcatcher@timestamps
